@import './variables.scss';

.textHuergo {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 120%;
    h1 {
        color: $primary;
    }
    h2 {
        margin-top: .5rem;
    }
    button {
        margin-top: 3rem;
        width: 30%;
        height: 4rem;
        font-size: 1.7em;
    }
}
.finalText {
    margin-top: 4rem !important;
}
.progress-timer {
    h2 {
        margin-top: .5rem;
    }
}